## Python Data Classes

In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as __init__, __repr__, and __eq__, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [1]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        return f"Hello, my name is {self.name} and I am {self.age} years old."
    
person1=Person("Pratap", 30)
print(person1)
print(person1.name)
print(person1.greet())

<__main__.Person object at 0x105968980>
Pratap
Hello, my name is Pratap and I am 30 years old.

In [2]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

The @dataclass decorator automatically generates the following methods for you:

1. __init__(): Initializes the object and assigns the provided values to the attributes.
2. __repr__(): Provides a string representation of the object.
3. __eq__(): Implements equality comparison between two objects of the class based on their attributes.

In [4]:
person1=Person('Pratap',23,'Data Scientist')
person1

Person(name='Pratap', age=23, profession='Data Scientist')

In [5]:
person1.profession

'Data Scientist'

In [5]:
person1.age

23

In [7]:
@dataclass
class Person:
    name:str
    age:int
    profession:str = 'Data Engineer'  # Default value
    
person1=Person('Pratap',23)
person1

Person(name='Pratap', age=23, profession='Data Engineer')

In [8]:
person1.profession = 'ML Engineer'
person1

Person(name='Pratap', age=23, profession='ML Engineer')

In [9]:
## Immutable dataclass

@dataclass
class point:
    x:int
    y:int
    
p1=point(2,3)
print(p1)

point(x=2, y=3)

In [ ]:
## Immutable dataclass

@dataclass(frozen=True) # if we gave frozen we can't change
class point:
    x:int
    y:int
    
p1=point(2,3)
print(p1)

point(x=2, y=3)

In [20]:
point.x = 10  # This will raise an error because the dataclass is frozen

In [17]:
point.x

10

In [21]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

rectangle1=Rectangle(12,14)
rectangle2=Rectangle(13,14,'red')

In [22]:
rectangle2.color

'red'

In [23]:
@dataclass(frozen=True)
class Point:
    x:int
    y:int

In [24]:
point=Point(3,4)

In [25]:
point.x,point.y

(3, 4)

In [26]:
point.x=12

FrozenInstanceError: cannot assign to field 'x'

In [ ]:
## inheritance 

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employee_id:str
    department:str

In [29]:
person=Person('Pratap',31)
employee=Employee("Pratap",31,'123','AI')

In [31]:
print(person)

Person(name='Pratap', age=31)

In [32]:
print(employee )

Employee(name='Pratap', age=31, employee_id='123', department='AI')

In [30]:
employee.name

'Pratap'

In [ ]:
## Nested Dataclasses

@dataclass
class Address:
    street:str # type hinting (string)
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address:Address # nested dataclass from above class

In [ ]:
address=Address('123 Main street','Bangalore','12345')
person=Person("Pratap",31,address)

In [36]:
person.address.city

'Bangalore'

In [41]:
address.street

'123 MAin street'