In [1]:
1+2

3

In [2]:
# Assign
a =10
a

10

In [3]:
print(a+5) # 10 + 5

15

# Day - 2

## Basics of Python

In [4]:
print("Hello World")
print("This is my first python code")

Hello World
This is my first python code

### We do KT - (Knowledge Transfer) when we leave the company , so that time comments will help

In [5]:
# Single line comment 

"""
Multi line comment 
"""

print("Hello")

Hello

In [ ]:
# In python not required to for Variable declaration 
a = 10
type(a)

int

In [9]:
ten = 10
float_no = 4.4
bol = True
string = "Data"

print(type(ten))
print(type(float_no))
print(type(bol))
print(type(string))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [10]:
# 1a = 10 # Invalid variable name
a1 = 10 # Valid variable name

In [11]:
## integer
a = 10
type(a)

int

In [10]:
a + 10

20

In [12]:
a * 10

100

In [13]:
a = 10
b = 4
print(a + b)

14

In [14]:
#Floating variable

a = 10.5
print(type(a))
print(a)

<class 'float'>
10.5

In [17]:
# type casting

a = 4.4
int(a)

4

In [18]:
print(type(a))
print(a)

<class 'float'>
4.4

In [19]:
b = 50

float(b) # type casting

50.0

In [20]:
print(b)
print(type(b))

50
<class 'int'>

In [21]:
## Boolean values  (0, 1) , True, False

a1 = True
b1 = False
print(type(a1))
print(type(b1))

<class 'bool'>
<class 'bool'>

In [ ]:
a1 = True
b1 = False

a1 and b1 # True and False

False

In [ ]:
a1 or b1 # True or False

True

In [25]:
name = "Pratap"

print(name)
print(type(name))

Pratap
<class 'str'>

In [26]:
name + " Singh"

'Pratap Singh'

In [27]:
name + " Sir"

'Pratap Sir'

In [28]:
name + str(8)

'Pratap8'

In [26]:
name + str("smart")

'Pratapsmart'

In [28]:
# name + int(8) # Error , we cannot concatenate string with integer

In [29]:
name + str(" 8.0")

'Pratap 8.0'

In [30]:
# Complex number
a = 2 + 3j
print(a)
print(type(a))

(2+3j)
<class 'complex'>

In [31]:
print(a.real,a.imag) # real part and imaginary part
print(a.imag) # imaginary part
print(a.conjugate()) # it will change the sign of imaginary part

2.0 3.0
3.0
(2-3j)

In [32]:
# Dynamic typing
a = 10
print(a)
print(type(a))

# Changing the data type of variable
a = "Data Science"
print(a)
print(type(a))

10
<class 'int'>
Data Science
<class 'str'>

In [33]:
# strong typing
a = "Hello"

In [34]:
a + "1"

'Hello1'

In [ ]:
# a + 1 # Error

In [35]:
a + str(8)

'Hello8'

In [36]:
# String formatting
a = 100
print('The value is -', a)

The value is - 100

In [37]:
first_name = "Pratap"
last_name = "Singh"
print("The first name is {} and last name is {}".format(first_name,last_name))

The first name is Pratap and last name is Singh

In [38]:
company_name = "DotandDash"
company_location = "Pune"
print("The company name is {} and location is {}".format(company_name,company_location))

The company name is DotandDash and location is Pune

In [39]:
first_name = input("Enter first name: ")
last_name = input("Enter last name: ")
print("Your first name is {} and Your last name is {}".format(first_name,last_name))

Your first name is shree and Your last name is baba

In [40]:
first_name = "Pratap"
last_name = "Singh"
print("My first name is {1} and last name is {0}".format(first_name,last_name)) # replace index values

My first name is Singh and last name is Pratap

In [41]:
# String formatting with key value pair
first_name = "Pratap"
last_name = "Singh"
print("My first name is {a} and last name is {b}".format(a=first_name,b=last_name))

My first name is Pratap and last name is Singh

### String means it is in Double quote ("hello", '123')
### Integer means it is in whole number (10, 50)

In [42]:
## input type

a = input("Enter a value of A")
b = input("Enter a value of B")
print(a+b)
print(type(a))
print(int(a)+int(b)) # Type casting to integer
print(float(a)+float(b)) # Type casting to float

2010
<class 'str'>
30
30.0